
li{

list-style: none;
flex: none;
text-align: center;
padding: 0 0 0 30px;

}

h3{

font-size: 24px;
line-height: 24px;

}








.page-header{

 z-index: 10;
 position: relative;
 height: 100px;
 background-color: #f72310;

}

.page-header .header-top date {

margin-left: 20px;
color: white;
}


.page-header .pelcro-login-button{

font-size: 18px;
line-height: 30px;
padding-left: 15px;
padding-right: 15px;
margin-top: 4px;
margin-bottom: 4px;

background-color:#f72310;
color: white;

}


.pelcro-subscribe-button{

background-color: #ffe400;
color: black;
display: flex;
align-items: center;


}

.newsWeek{

position: absolute;
z-index: 3;
top: 0;
left: 38%;
padding: 5px;

}


.header-bottom{

padding-top: 45px;
padding-bottom: 15px;
border-bottom-width: 2px;
border-bottom-style: solid;
z-index: 1;



}


ul.page-nav{

display: flex;   
font-size: 19px;
line-height: 24px;
list-style: none;
text-decoration: none;
font-weight: bold;
font-family: "Roboto Condensed", sans-serif;


}


.flex-box{

display: flex;
    
}
    
.flex-block2{
    
display: flex;
    
}
    
.flex-xs{
    
display: flex;
padding-top: 10px;
    
    }
    
.flex-xs-6{
    
width: 50%;
padding-top: 15px;
justify-content: flex-end;
}



.main{

background-color: white;
padding-top: 20px;

}

#sticky4{

position: sticky;

}



.row{

margin-left: -15px;
margin-right: -15px;

}

.colwrap .col4{

float: left;
padding-left: 15px;
padding-right: 15px;
margin-top: 200px;

}

.col3{

float: left;
padding-left: 15px;
padding-right: 15px;


}


.col1{

float: left;
padding-left: 15px;
padding-right: 15px;

}


#sticky1{

position: sticky;
top: 60px;


}


.block-title{

font: bold 16px "Roboto Condensed", sans-serif;
text-transform: uppercase;
padding-bottom: 11px;


}


.feature{

padding-bottom: 20px;

}



.wrap{

position: relative;
min-height: 33px;
margin-bottom: 10px;


}



.related{

font-size: 17px;
line-height: 20px;
margin-top: 10px;

}



.col2{

float: left;
padding-left: 15px;
padding-right: 15px;



}

#sticky2{

position: sticky;

}








@media screen and (min-width: 768px){

.flex-block2{

flex-direction: row;

}

.col1{

width: 45%;

}




}



@media screen and (min-width:992px){

.page-header .header-bottom{

 padding-right: 160px;

}

.header-bottom{

position: relative;
display: block;

}

ul.page-nav li{

flex-grow: 1;
text-align: center;
border-left-style: none;



}



.trendingTopics{

border-top-color: white;
padding-top: 13px;
border-top-width: 2px;
overflow-x: scroll;
overflow-y: hidden;
margin-right: -160px;
margin-bottom: -10px;
position: relative;

}


.trendingTopicList{

display: flex;
font-weight: bold;
font-size: 16px;
line-height: 16px;
text-transform: upercase;
text-align: center;



}


.container-fluid{

padding-left: 30px;
padding-right: 30px;
margin-right: auto;
margin-left: auto;


}


.colwrap .col4{

width: 71%;


}

.col3{

width: 29%;

}


.col1{

width: 41%;

}

.col2{

width: 59%;



}

.flex-box{

flex-direction: column;

}


}
